*{
	padding: 0;
	margin: 0;
}

.leftborder 
{ 
	margin: 35px 0 10% 10%;
	border-style:solid; 
	border-width:2px; 
	width:80%;
	height: 400px;
	
} 

.rightborder 
{ 
	margin: 45px 0 10% 10%;
	border-style:solid; 
	border-width:2px; 
	width:80%;
	height: 400px;
} 

.downborder
{
	position: absolute;
	top:15%;
	left:10%;
	border-style:solid; 
	border-width:2px; 
	width: 80%;
	height: 200px;
}
